.control-panel {
  all: unset;
  padding: 15px;
  background-color: #7FB7BE;
  color: #FBFBFB;
  font-size: 16px;
}
.weather-btn {
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
.system-stats {
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
.battery-btn {
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
.storage-btn {
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
.volume-btn{
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
.bright-btn {
  all: unset;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
}
