.top-bar {
  background-color: #242325;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.date-time {
  background-color: #242325;
  color: #E6E1C5;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
