.track-info-bar{
  background-color: #242325;
  padding: 2px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px;
}
.track-label {
  all: unset;
  font-size: 15px;
  font-weight: bold;
  background-color: #242325;
  color: #E6E1C5;
  border-radius: 8px;  
}


